name: Python Bindings

on:
  push:
    branches: [ main ]
    paths:
      - 'bindings/python/**'
      - 'core/**'
      - 'cmake/**'
      - 'CMakeLists.txt'
  pull_request:
    branches: [ main ]
    paths:
      - 'bindings/python/**'
      - 'core/**'
      - 'cmake/**'
      - 'CMakeLists.txt'

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install build dependencies
        run: python -m pip install --upgrade pip scikit-build-core nanobind numpy pytest build

      - name: Build wheel
        run: python -m build --wheel ./bindings/python

      - name: Install wheel
        run: |
          python -m pip install dist/*.whl
        working-directory: ./bindings/python

      - name: Run tests
        # Need to set URDFX_MODELS_DIR because we're not in source tree structure when installed
        env:
          URDFX_MODELS_DIR: ${{ github.workspace }}/examples/models/ur5
        run: |
          python -m pytest tests
        working-directory: ./bindings/python

      - name: Upload wheels
        uses: actions/upload-artifact@v3
        with:
          name: wheels
          path: bindings/python/dist/*.whl

